@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Griffy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.head-container {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  background: linear-gradient(to right, #000000, #6650a5);
}

.logo {
  margin-left: 30px;
}

.logo h1 {
  font-family: "Griffy", system-ui;
  font-style: normal;
  color: #ffc907;
}

.header-first-link {
  margin-left: 40px;
}

.header-first-link ul,
.header-second-link ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 5px;
}

.header-first-link ul li,
.header-second-link ul li {
  margin-right: 55px;
}

.header-first-link ul li a,
.header-second-link ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #a1b1cb;
}

.search-input-div {
  margin-left: 40px;
}

.search-input {
  width: 400px;
  height: 26px;
  border-radius: 15px;
  background-color: #3b567d;
  padding: 2px 5px;
  border: none;
  caret-color: #517abc;
  color: #a2b3cd;
}

.search-input:focus {
  border: 1px solid #cccccc;
  outline: none;
}

.search-input::placeholder {
  padding: 0px 5px;
}

.header-second-link {
  margin-left: 30px;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: auto;
}
.mail-icon svg {
  font-size: 1.8rem;
}

.mail-li {
  margin-left: 20px;
}

.alarm-icon svg {
  font-size: 1.8rem;
}

.login-btn {
  background-color: #ffc907;
  padding: 7px 14px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}

.register-btn {
  background-color: #ffc907;
  padding: 7px 14px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}
